body {
    margin: 0px;
}

/*Seção de Serviços*/
.servicos-container {
    height: 70vh;
    background-color: rgba(187, 229, 255, 0.966);
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title-servicos {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicos-cards-container {
    height: 60%;
    width: 100%;
    margin-top: 40px;
    display: flex;
}

.card-servico {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

/*Botões utilizados para passar o carrossel*/
#preview-button {
    border-radius: 30px;
    border: none;
    top: 32%;
    left: 35px;
    position: absolute;
    width: 45px;
    height: 45px;
}

#next-button {
    border-radius: 30px;
    border: none;
    top: 32%;
    right: 35px;
    position: absolute;
    width: 45px;
    height: 45px;
}